* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2.8vh 0 4.2vh 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "social-buttons user-form";
}
.social-buttons {
  grid-area: social-buttons;
}
.user-form {
  grid-area: user-form;
}
/* Manual Login Fields */
input {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 0.7vh 0;
  opacity: 0.85;
  font-size: 17px;
  line-height: 3vh;
  text-decoration: none;
}
/* Social Media Login Buttons */
.btn {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 3vh;
  text-decoration: none;
  margin: 1.8vh;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 1.3rem;
}
.fb {
  background-color: #3b5998;
  color: white;
}

.twitter {
  background-color: #55acee;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}
/* Vertical Middle Line */
.vLine {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 30vh;
}
.vLineBottom {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 4.8vh;
}
.vLineText {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 1.1vh 0.7vw;
}
h2 {
  text-align: left;
  margin-left: 5.5vw;
}
/* Login Button */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-left: 1vw;
}
.bottom-container {
  display: grid;
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "register-btn forget-btn";
}
.register-btn {
  grid-area: register-btn;
}
.forget-btn {
  grid-area: forget-btn;
}
input[type="checkbox"] {
  margin-right: 4.8rem;
}
input:hover,
.btn:hover {
  opacity: 1;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
/* Social Images styling */
.fab {
  border-right: 2px grey solid;
  padding-top: 0.5vh;
  padding-right: 1vw;
  padding-bottom: 0.5vh;
  margin-right: 0.5vw;
}
.btnBottom {
  width: 50%;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: grid;
  font-size: 5px;
  line-height: 2vh;
  text-decoration: none;
  margin: 1vh;
  font-size: 1rem;
}
